@media only screen and (max-width:999px) {

    #wrapper {
        width: 768px;
        margin: 0 auto;
    }
    
    .container {
    width: 768px;

}

    header {
        width: 768px;
    }

    #logo {
        width: auto;
        margin-right: 7px;
        background-color: #EDEDED;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #logoimage {
        margin: 10px 10px 10px 0;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    #logoimg {
        width: 400px;
    }

    #logotext h2 {
        margin-top: 24px;
    }
    
    nav {
    background-color: #653D3D;
    margin: 0;
    padding: 1px;
        margin-right: 7px;

}

nav ul {
    list-style-type: none;
    padding-left: 5px;
}

nav ul li {
    display: inline-block;
    color: white;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    font-weight: bold;

}

a:hover {
    color: #000;
}

    #jumbotron {
        width: 100%;
        margin: 50px 0 50px 0;
        text-align: center;
    }

    h1 {
        font-size: 50px;

    }
#blog {
    background-color: #978484;
    color: white;
    padding: 1px;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: 7px;


}

#blog h3 {
    margin: 5px;
    margin-left: 7px;
}

    .imgcontainermain {
        margin-bottom: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    

    }

    #imgcont1 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        flex-wrap: wrap;
        width: 45%;
        margin-right: auto;
    }

    #imgcont2 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 45%;
    }

    .imgcontainer {
        width: 100%;
        font-weight: bold;
        padding: 5px;
    }

    img {
        width: 100%
    }
    hr{
    border: 3px solid #978484;
        margin-right: 7px;
}

footer{
    text-align: center;
}
footer img{
    width: 30%
}

}